<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hacks in a Hurry</title>

  <!-- Custom fonts for this theme -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="static/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Hacks in a Hurry!</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Submit a Topic</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      {% comment %}<img class="masthead-avatar mb-5" src="img/avataaars.svg" alt="">{% endcomment %}

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Hacks in a Hurry</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">Announcing Hack II: The Remote COVID-19 Hackathon</p>
      <img src='/static/HacksinaHurryII.png' style='max-width: 500px;'>
      <p>Thursday April 2 from 6-9 PM PT via Zoom and Discord</p>
      <p>At 6 PM we'll be announcing the specific hackathon topic on Zoom and organizing into teams via Discord.  Some participants will have access to specific tools and can print your proof of concept remotely.  At 8:30 PM all teams will reconvene on Zoom to present their results for judges.</p>
      <p>The broad theme of the hackathon will be the COVID-19 scare.  We encourage you to submit your specific suggestions related to this theme using the form below, and we will announce the exact prompt on April 2nd.</p>
      <p>We cannot provide food for this one, but we can promise friends and fun.   Register now if you are interested in joining or learning more:
                       <br/><br/>
	<strong><a class='btn btn-xl btn-outline-light'  href='https://forms.gle/rLszJ1bREXbJR8in9' target='_blank'>Pre-Register for Hack II: Remote COVID-19 Hackathon</a></strong>
	
      </p>
                
        <img STYLE='max-width: 500px;' src='static/HacksInAHurryTransparent.png'>
    </div>
  </header>
  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">
          <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
	    {% comment %}<iframe width="560" height="315" src="https://www.youtube.com/embed/DlZycWNw0mE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>{%endcomment%}
	    
	    <a  target='_blank' href='/hacki/'><img class="img-fluid" src="http://hacksinahurry.com/static/hacki_group.jpg" alt="">
	    Hack I (Feb. 6 2020) Results: "Agenda" triumphs over "Grizzly Versus Gorilla"</a>
          </div>
        </div>


        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1a">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
	    {% comment %}<iframe width="560" height="315" src="https://www.youtube.com/embed/DlZycWNw0mE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>{%endcomment%}
	    
	    <a  target='_blank' href='https://www.youtube.com/watch?v=DlZycWNw0mE&feature=youtu.be'><img class="img-fluid" src="static/VideoThumbnail.png" alt="">
	    Proof of Concept: Watch this website get made in an hour: https://youtu.be/DlZycWNw0mE</a>
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/HacksInAHurryTransparent.png" alt="">
	   
          </div>
        </div>
        {% comment %}
        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="static/Makeathon.jpg" alt="">
          </div>
        </div>
        {% endcomment %}
  {% comment %}
        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/game.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/safe.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 6 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/submarine.png" alt="">
          </div>
        </div>

  {% endcomment %}
      </div>
      <!-- /.row -->

    </div>
  </section>


  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">

      <!-- Contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Submit a Topic</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Contact Section Form -->
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          {% if posted %}
          <center><strong>Thank you!  We received your post!</strong></center>
          {% else %}
          <form action='' method='post'>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Name</label>
                <input class="form-control" id="name" type="text" placeholder="Name" name='name' required="required" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email Address</label>
                <input class="form-control" id="email" type="email" placeholder="Email Address" name='email' required="required" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                      <label>Optional: Suggest a Hackathon Topic</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Suggest a Hackathon Topic" name='message' required="required" data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
            </div>
          </form>
               {% endif %}
          {% comment %}  <center><a href='https://forms.gle/g2ixAme1wnAyugjM9'>Click Here</a></center> {% endcomment %}
        </div>
      </div>

    </div>
  </section>
  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
                 <P class="lead">Instead of spending a full weekend hacking, see what you can get done in one hour.  Submit topic suggestions ahead of time.
                
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">
Topic will be announced at the door, so everybody has an equal footing.

                Pencils down after intense hacking session -- winners selected based on creativity, progress within an hour, and overall solution.
	<br/>
</p>
        </div>
      </div>
      <!-- About Section Button -->
      <div class="text-center mt-4">
	<h4>FAQs in a Hurry</h4>
	
	<p style='text-align: left;'><strong>What is hacks in a hurry?</strong>
	<br/>
	We are a team of MIT students trying to "hack" the concept of hackathons to correct some of the problems.  In particular, we dislike: (1) the requirement of spending an entire weekend and (2) people who try to pass off years of research as a weekend worth of work.  We're pioneering the concept of ultra-fast hackathons to see if this improves on the concept.
	</p>


	<p style='text-align: left;'><strong>What can you get done in an hour?</strong>
	<br/>
	If you're a lawyer, you can earn hundreds of dollars!  If you're a hacker, you can also accomplish a lot.  We built this website in an hour to prove the concept.  We'll be sharing some additional projects that we've completed in just an hour or two as we approach the hack date to provide inspiration.  We feel that what is important is not producing a perfect product, but ideation and validating a proof of concept before you go too far. 
	</p>

<p style='text-align: left;'><strong>What if I need more time?</strong>
	<br/>
After an hour or two you should be able to formulate an idea and sharpen it enough to where you can share whatever you have.  If your team gets a demo working then you are elite and we will probably feature you on our site for years to come.  We will also be happy to see a PowerPoint presentation or just a short talk about how you would attack the concept.  If you like your team and your direction, you might find you want to keep working on the project even after the hackathon officially ends.
	</p>

<p style='text-align: left;'><strong>Who is invited?</strong>
	<br/>
We would like to encourage anybody, regardless of technical expertise, to attend as long as you are interested in contributing to a team's success.  Our inaugural hackathon will be hosted by Seattle Makers, to provide extra incentive for people who are gifted with mechanical or hardware capabilities to join.  We will be working to select a topic that is also friendly for non-hardware skills, so people who are gifted in software, design, or entrepreneurship skills can also add value.	
</p>


<p style='text-align: left;'><strong>What is the topic?</strong>
	<br/>
	<a href='http://hacksinahurry.com/#contact' style='color: #FFF;'>We will be crowdsourcing topics on our website</a>, and for people who follow us and register early we may even allow some possible topics to leak.  However, the actual topic will not be disclosed until you arrive at the hackathon, so all parties have the benefit of starting from equal footing.  Please submit one or many topics!  We will be looking for topics that are broad enough to cater to a wide variety of skill sets (ie, utilizes the tools available at Seattle Maker).  Bonus points if the topic has the effect of improving humanity or the world.
</p>



<p style='text-align: left;'><strong>How can I win?</strong>
	<br/>
At the conclusion of hacking, ~2 hours, all teams will have the opportunity to briefly present their results.  Judges will be scoring on the completeness, uniqueness, and effectiveness of the final solution.  Winners will receive prizes to be announced at the event.  Even if you don't win, we will be providing food and some access to many of the cool tools at the space.
</p>


<p style='text-align: left;'><strong>What if I can't attend?</strong>
	<br/>
	We plan to live stream this on our <a href='https://www.twitch.tv/hacksinahurry' style='color: #FFF;'>Twitch channel</a>, so follow along and contribute online!
</p>








	{% comment %}    <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
          <i class="fas fa-download mr-2"></i>
        </a>
	{% endcomment %}
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Events</h4>
          <p class="lead mb-0">
		<strong><a class='btn btn-xl btn-outline-light'  href='https://forms.gle/rLszJ1bREXbJR8in9' target='_blank'>Pre-Register for Hack II</a></strong>
          <br>March 2020, location and time TBD<br/>

	  {% comment %}<br>Thursday February 6, 6-9 pm <br/>
          <a href='https://seattlemakers.org/contact/#directions' target='_blank'>Seattle Maker Space
          <br/>GPS Address: 525 Dexter Ave N, Seattle, WA 98109</a>
	  {% endcomment %}
          </p>
        </div>
        
        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.twitch.tv/hacksinahurry">
		  <i class="fab fa-twitch"></i>
          </a>


          <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/zcor/hacksinahurry">
		  <i class="fab fa-github"></i>
	  </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://join.slack.com/t/hacksinahurry/shared_invite/enQtOTQwOTgyMTA2NzU5LTczMzYxNjQwNTA4NzgyZjU2ZWQ3MTdhN2FkMjI0OGUyZWUwNGZlYmQ0ZTJiZmZkNGRjOTNhYjJlZjFmNTQxMDI">
            <i class="fab fa-slack"></i>
          </a>
                {% comment %}
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
                {% endcomment %}
<br/>
<br/>
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#000; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://hacksinahurry.us4.list-manage.com/subscribe/post?u=1e2002fae33f7b6fe5834384b&amp;id=9d298c47e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1e2002fae33f7b6fe5834384b_9d298c47e8" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Us</h4>


<!-- Mailchimp -->

<!-- End Mailchimp -->


          <p class="lead mb-0">Email us at <a href='mailto:hacksinahurry@onymail.com'>hacksinahurry@onymail.com</a>
	  <br/><strong>Total time to make this website:</strong> <a href='https://www.youtube.com/watch?v=DlZycWNw0mE&feature=youtu.be'>2 hours</a> 
          </p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Hacks in a Hurry 2020</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Hack I: 2/6/2020</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <a href='/hacki/' target='_blank'><img src='http://hacksinahurry.com/static/hacki_group.jpg' style='max-width: 500px;'></a>
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
		<a href='/hacki/' target='_blank'>See Results From Hack I</a>
		</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1a" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1aLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Proof of Concept</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <a href='https://www.youtube.com/watch?v=DlZycWNw0mE&feature=youtu.be' target='_blank'><img src='http://hacksinahurry.com/static/VideoThumbnail.png' style='max-width: 500px;'></a>
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">
		<a href='https://www.youtube.com/watch?v=DlZycWNw0mE&feature=youtu.be' target='_blank'>Watch This Site Get Built in One Hour</a>
		</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Pixel Art Splash</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
            	<img class="img-fluid" src="static/HacksInAHurryTransparent.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">We did not time this, but it took no more than about an hour or two.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Makers in the Wild</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
            	<img class="img-fluid rounded mb-5" src="static/Makeathon.jpg" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">We don't know these hackers, we found them on Google Image Search and felt they embodied the spirit of a rapid hackathon.  After our Hackathon, we will feature you here!</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/HacksInAHurryTransparent.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/HacksInAHurryTransparent.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="static/HacksInAHurryTransparent.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="static/js/jqBootstrapValidation.js"></script>
  <script src="static/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/freelancer.min.js"></script>

</body>

</html>
